<div id="carouselExampleDark" class="carousel main-carousel carousel-dark pt-5 slide">
    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
            <img src="../../../assets/images/3.jpg" height="550px" class="d-block w-100" alt="...">
            <div class="bg-color"></div>
            <div class="carousel-caption col-sm-12 col-md-5 d-flex align-items-center ">
                <div class="wow animate__backInUp py-5">
                    <h1 class="pt-5">First slide label</h1>
                    <p class="slider-parag">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <button class="btn btn-dark">Subscribe</button>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="../../../assets/images/1.jpg" height="550px" class="d-block w-100" alt="...">
            <div class="bg-color"></div>
            <div class="carousel-caption col-sm-12 col-md-5 d-flex align-items-center ">
                <div class="wow animate__backInUp py-5">
                    <h1 class="pt-5">Second slide label</h1>
                    <p class="slider-parag">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book..</p>
                    <button class="btn btn-dark">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="shop-samples p-5">
    <div class="title-div text-center">
        <p class="small-title">don't wait</p>
        <h1>shopping everyday</h1>
        <div class="small-border"></div>
        <p class="desc">Alienum phaedrum torquatos nec eu, vis detraxit ertssa periculiser ex, nihil expetendis in
            meinerst gers frust bura erbu</p>
    </div>
    <div class="products-sample">
        <div class="container">
            <div class="row">
                <div class="col-md-4 p-4 product" *ngFor="let product of productsSample">
                    <a routerLink="/item/{{product.id}}"><img src="{{product.img}}" class="my-4 " alt="" height="350" width="100%"></a>
                    <p class="tag" *ngIf="product.specialTag!=''">
                    {{product.specialTag}}
                    </p>
                    <div class="products-content d-flex justify-content-between">
                        <a routerLink="/item/{{product.id}}"><h5>{{product.name}}</h5></a>
                        <p>${{product.price}}</p>
                    </div>
                    <div class="products-content d-flex justify-content-between">
                        <p class="pt-2">{{product.desc}}</p>
                        <button class="btn p-0 border-0" (click)="addProduct(product.id)">add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="subscribe-section">
    <p>
        <span>30%</span><br />
        shopping everyday
    </p>
    <div class="small-border"></div>
    <button class="btn btn-dark">Subscribe</button>
</div>
<div class="discount text-center">
    Shopping Discount
</div>
<div class="sayings-carousel">
    <div class="text-center container">
        <h1>what they’re saying</h1>
        <div class="small-border"></div>
        <div id="carouselSayings" class="carousel carousel-dark slide">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselSayings" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselSayings" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselSayings" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner p-5">
                <div class="carousel-item active" data-bs-interval="10000">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged.</p>
                    <span>Menna Farid</span>
                    <p>Front-end developer</p>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged.</p>
                    <span>Menna Farid</span>
                    <p>Front-end developer</p>
                </div>
                <div class="carousel-item">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged.</p>
                    <span>Menna Farid</span>
                    <p>Front-end developer</p>

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselSayings" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselSayings" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<div class="blogs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                June 30, 2017
                <h3>unique position</h3>
                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                </p>
                <button class="btn btn-dark pointer">learn more</button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                June 30, 2017
                <h3>something in order</h3>
                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                </p>
                <button class="btn btn-dark pointer">learn more</button>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-5">
                June 30, 2017
                <h3>women love shopping!</h3>
                <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
                    neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit
                </p>
                <button class="btn btn-dark pointer">learn more</button>
            </div>
        </div>
    </div>
</div>